body {
  background-image: url('./assets/Background.jpg'); /*Web Page background*/
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
}
body, html {
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

