/* src/Components/Home.css */

.Home {
    padding: 20px;
    text-align: center;
    color: black; /* Ensure text is visible */
  }
  
  .Home h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .Home p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  