.Home {
	padding: 20px;
	text-align: center;
	margin: 80px;
	padding: 10px;
	color: black;
}

.Home h2 {
	font-size: 3em;
	margin-bottom: 20px;
}

.Home p {
	font-size: 2em;
	margin-bottom: 20px;
}

button {
	background-color: #04AA6D; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }
  